.team-user-image {
  background: #f1f1f1;
  overflow: hidden;
}

.team-user-image img {
  z-index: 1;
  position: relative;
}

.team-user-hover-effect {
  background: radial-gradient(circle, #fec802 0%, #de2322 48%, #930202 100%);
  position: absolute;
  top: -48px;
  width: 423px;
  height: 120px;
  border-radius: 50%;
  left: -44px;
  z-index: 0;
  filter: blur(100px);
  transition: 0.3s;
  opacity: 0;
}

.team-item:hover .team-user-hover-effect {
  opacity: 1;
}
