.team-user-image {
    background: #F1F1F1;
    overflow: hidden;
}

.team-user-image img {
    z-index: 1;
    position: relative;
}

.team-user-hover-effect {
    background: radial-gradient(circle, #FEC802 0%, #DE2322 48%, #930202 100%);
    position: absolute;
    top: -48px;
    width: 423px;
    height: 120px;
    border-radius: 50%;
    left: -44px;
    z-index: 0;
    filter: blur(100px);
    transition: .3s;
    opacity: 0;
}

.team-item:hover .team-user-hover-effect {
    opacity: 1;
}