.methodology-task-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    transition: all 0.1s ease;
}

.methodology-task-item * {
    transition: all 0.1s ease;
}

.methodology-task-item-active {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.methodology-task-item-active p.subtitle-1 {
    color: #FB5D21;
}

.methodology-task-item-active h3.subtitle-1 {
    color: #000;
}

@media screen and (max-width: 1200px) {
    .methodology-task-item {
        padding: 25px;
    }

    .methodology-task-item svg {
        transition: .3s ease-in-out;
    }

    .methodology-task-item-active svg {
        transform: rotate(180deg);
    }

    .methodology-task-item-active svg path {
        stroke: #000;
    }
}